*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#digital-clock {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin: 20px 0;
}
#countdown-timer {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin: 20px 0;
}
